#parse("/velocity/layout.vm")
#@mainLayout()
<!-- Code from https://v4-alpha.getbootstrap.com/examples/jumbotron/ and possibly depenency(s) -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="editTicketForm" method="post">
                <h1>Edit Ticket</h1>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="name" placeholder="Name" value="$ticket.getName()" required>
                </div>

                <div class="form-group">
                    <label for="type">Type</label>
                    <input id="type" class="form-control" type="text" name="type" placeholder="Type" value="$ticket.getType()" required>
                </div>

                <div class="form-group">
                    <label for="status">Status</label>
                    <select id="status" class="form-control" name="status" placeholder="Status" required>
                        <option value="Open" #if($ticket.getStatus() == "Open")selected="selected"#end>Open</option>
                        <option value="Closed" #if($ticket.getStatus() == "Closed")selected="selected"#end>Closed</option>
                        <option value="Deleted" #if($ticket.getStatus() == "Deleted")selected="selected"#end>Deleted</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="room">Room</label>
                    <select class="form-control" id="room" name="room" required>
                        #foreach( $room in $rooms )
                            #if($room.getName() == $ticket.getRoom())
                                <option value="$room.getId()" selected="selected">$room.getName()</option>
                            #else
                                <option value="$room.getId()">$room.getName()</option>
                            #end
                        #end
                    </select>
                    <input type="hidden" name="id" value="$ticket.getId()">
                </div>

                <div class="form-group">
                    <label for="assignee">Assignee</label>
                    <select class="form-control" id="assignee" name="assignee" required>
                        #foreach( $employee in $employees )
                            #if($employee.getUsername() == $ticket.getAssignee())
                                <option value="$employee.getId()" selected="selected">$employee.getUsername()</option>
                            #else
                                <option value="$employee.getId()">$employee.getUsername()</option>
                            #end
                        #end
                    </select>
                </div>

                <input  class="btn btn-default" type="submit" value="Save">
            </form>
            #if(!$currentUser)
                <p class="bad notification">You are not logged in.</p>
            #end
        </div>
    </div>
</div>
#end

