<!-- Code from https://v4-alpha.getbootstrap.com/examples/jumbotron/ and possibly depenency(s) -->

#parse("/velocity/layout.vm")
#@mainLayout()

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to Mav Maintenance!</h1>
        <p>This is a template for a simple marketing or informational website. It has a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>


  <!-- Example row of columns -->

      <!-- https://v4-alpha.getbootstrap.com/content/tables/ -->
      #if($currentUser)
      <br />
      <div class="row">
      <h1>Issues</h1>
      <table class="table" id="ticketTable">
        <thead>
          <tr>
            <th id="timeTH">Time</th>
            <th id="roomTH">Room</th>
            <th id="titleTH">Title</th>
            <th id="statusTH">Status</th>
          </tr>
        </thead>
        <tbody>
          #foreach( $ticket in $tickets )
              <tr>
              <td>$date.format('medium',$ticket.getCreated())</td>
              <td>$ticket.getRoom()</td>
              <td>$ticket.getTitle()</td>
              <td>$ticket.getStatus()</td>
              </tr>
          #end
        </tbody>
      </table>

      <!-- Table sorting functionality (Need to put this in a separate file but I'm not sure how with Velocity) -->
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
      <script type="text/javascript">
        function sortTable(f,n){
          var rows = $('#ticketTable tbody  tr').get();

          rows.sort(function(a, b) {

            var A = getVal(a);
            var B = getVal(b);

            if(A < B) {
              return -1*f;
            }
            if(A > B) {
              return 1*f;
            }
            return 0;
          });

          function getVal(elm){
            var v = $(elm).children('td').eq(n).text().toUpperCase();
            if($.isNumeric(v)){
              v = parseInt(v,10);
            }
            return v;
          }

          $.each(rows, function(index, row) {
            $('#ticketTable').children('tbody').append(row);
          });
        }

        var f_timeTH = 1;
        var f_roomTH = 1;
        var f_titleTH = 1;
        var f_statusTH = 1;

        $("#timeTH").click(function(){
            f_timeTH *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_timeTH,n);
        });
        $("#roomTH").click(function(){
            f_roomTH *= -1;
            var n = $(this).prevAll().length;
            sortTable(f_roomTH,n);
        });
        $("#titleTH").click(function(){
          f_titleTH *= -1;
          var n = $(this).prevAll().length;
          sortTable(f_titleTH,n);
        });
        $("#statusTH").click(function(){
          f_statusTH *= -1;
          var n = $(this).prevAll().length;
          sortTable(f_statusTH,n);
        });
      </script>

      <br />
      <a href="$WebPath.getCreateTICKETS()">Create Ticket</a>
      <br />
      <br />
      <br />
      <h1>More info</h1>
      <br />
      </div>
      #end
      <div class="row">



      <div class="col-md-4">
          <h2>What's a janitorial emergency?</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>What to do if something overflows?</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
          <h2>How to clean up melted snow?</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
  </div>

  <hr>


#end
